@import url(https://fonts.googleapis.com/css?family=Righteous)
  
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  font: 16px/1.3 helvetica, sans-serif
  width: 900px
  margin: 0 auto
  background: #FECA54